### 为什么学习pandas
- numpy已经可以帮助我们进行数据的处理了，那么学习pandas的目的是什么呢？
    - numpy能够帮助我们处理的是数值型的数据，当然在数据分析中除了数值型的数据还有好多其他类型的数据（字符串，时间序列），那么pandas就可以帮我们很好的处理除了数值型的其他数据！

### 什么是pandas？
- 首先先来认识pandas中的两个常用的类
    - Series
    - DataFrame

### Series
- Series是一种类似与一维数组的对象，由下面两个部分组成：
    - values：一组数据（ndarray类型）
    - index：相关的数据索引标签

- Series的创建
    - 由列表或numpy数组创建
    - 由字典创建

In [1]:
from pandas import Series
s = Series(data=[1,2,3,"four", 5.0])
s

0       1
1       2
2       3
3    four
4     5.0
dtype: object

In [2]:
import numpy as np
s = Series(data=np.random.randint(0, 100, size=(3,)))
s

0    17
1    93
2    60
dtype: int64

In [3]:
# index用来指定显示索引
s = Series(data=[1,2,3,"four", 5.0], index=["a", "b", "c", "d", "e"])
s

a       1
b       2
c       3
d    four
e     5.0
dtype: object

In [4]:
#为什么需要有显示索引
# 显示索引可以增强Series的可读性

In [5]:
dic = {
    '语文':100,
    '数学':99,
    '理综':250
}
s = Series(data=dic)
s

语文    100
数学     99
理综    250
dtype: int64

- Series的索引和切片

In [6]:
s[0]
s.语文
s[0:2]

语文    100
数学     99
dtype: int64

- Series的常用属性
    - shape
    - size
    - index
    - values

In [7]:
s.shape
s.size
s.index
s.values
s.dtype

dtype('int64')

In [8]:
s = Series(data=[1,2,3,'four'],index=['a','b','c','d'])
s.dtype 
# 数据类型O表示的是Object（字符串类型）

dtype('O')

- Series的常用方法
    - head(),tail()
    - unique()
    - isnull(),notnull()
    - add() sub() mul() div()

In [9]:
s = Series(data=np.random.randint(60,100,size=(10,)))
s

0    96
1    95
2    83
3    94
4    82
5    60
6    63
7    76
8    66
9    74
dtype: int64

In [10]:
# 显示前n个数据
s.head(3)

0    96
1    95
2    83
dtype: int64

In [11]:
# 显示后n个数据
s.tail(3)

7    76
8    66
9    74
dtype: int64

In [12]:
# 去重
s.unique()

array([96, 95, 83, 94, 82, 60, 63, 76, 66, 74])

In [13]:
# 用于判断每一个元素是否为空，为空返回True，否则返回False
s.isnull()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [14]:
s.notnull()

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
dtype: bool

- Series的算术运算
    - 法则：索引一致的元素进行算数运算否则补空

In [15]:
s1 = Series(data=[1,2,3],index=['a','b','c'])
s2 = Series(data=[1,2,3],index=['a','d','c'])
s = s1 + s2
s

a    2.0
b    NaN
c    6.0
d    NaN
dtype: float64

In [16]:
s.isnull()

a    False
b     True
c    False
d     True
dtype: bool

### DataFrame
- DataFrame是一个【表格型】的数据结构。DataFrame由按一定顺序排列的多列数据组成。设计初衷是将Series的使用场景从一维拓展到多维。DataFrame既有行索引，也有列索引。
    - 行索引：index
    - 列索引：columns
    - 值：values
- DataFrame的创建
    - ndarray创建
    - 字典创建

In [17]:
from pandas import DataFrame

In [18]:
df = DataFrame(data=[[1,2,3],[4,5,6],[7,8,9]],index=['a','b','c'],columns=['语文','数学','理综'])
df

   语文  数学  理综
a   1   2   3
b   4   5   6
c   7   8   9

In [19]:
df = DataFrame(data=np.random.randint(0,100,size=(6,4)),index=['a','b','c','d','e','f'],columns=['语文','数学','理综','英语'])
df

   语文  数学  理综  英语
a  95  57  87  24
b  45  73  71  16
c  26  95  62  97
d  36  96  70  98
e  77  57  21  10
f  44  50  38  42

In [20]:
dic = {
    'name':['zhangsan','lisi','wanglaowu'],
    'salary':[1000,2000,3000]
}
df = DataFrame(data=dic,index=['a','b','c'])
df

        name  salary
a   zhangsan    1000
b       lisi    2000
c  wanglaowu    3000

- DataFrame的属性
    - values、columns、index、shape

In [21]:
df.values
df.columns
df.index
df.shape

(3, 2)

============================================

练习4：

根据以下考试成绩表，创建一个DataFrame，命名为df：
```
    张三  李四  
语文 150  0
数学 150  0
英语 150  0
理综 300  0
```

============================================

In [22]:
dic = {
    "张三": [150,150,150,150],
    "李四": [0,0,0,0],
}
df = DataFrame(data=dic, index=["语文", "数学", "英语", "理综"])
df

     张三  李四
语文  150   0
数学  150   0
英语  150   0
理综  150   0

- DataFrame索引操作
    - 对行进行索引
    - 队列进行索引
    - 对元素进行索引

In [23]:
df = DataFrame(data=np.random.randint(60,100,size=(8,4)),columns=['a','b','c','d'])
df

    a   b   c   d
0  72  96  64  88
1  78  77  99  69
2  78  87  83  64
3  90  67  79  90
4  88  90  88  90
5  64  66  60  80
6  94  89  92  95
7  84  87  79  84

In [24]:
# 取单列，如果df有显示的索引，通过索引机制去行或者列的时候只可以使用显示索引
df["a"]

0    72
1    78
2    78
3    90
4    88
5    64
6    94
7    84
Name: a, dtype: int64

In [25]:
# 取多列
df[["a","c"]]

    a   c
0  72  64
1  78  99
2  78  83
3  90  79
4  88  88
5  64  60
6  94  92
7  84  79

- iloc:
    - 通过隐式索引取行
- loc:
    - 通过显示索引取行

In [26]:
# 取单行
df.loc[0]

a    72
b    96
c    64
d    88
Name: 0, dtype: int64

In [27]:
# 取多行
df.iloc[[0,3,5]]

    a   b   c   d
0  72  96  64  88
3  90  67  79  90
5  64  66  60  80

In [28]:
# 取单个元素
df.iloc[0,2]
df.loc[0,"a"]

72

In [29]:
# 取多个元素
df.iloc[[1,3,5],[0,2]]

    a   c
1  78  99
3  90  79
5  64  60

- DataFrame的切片操作
    - 对行进行切片
    - 对列进行切片

In [30]:
# 切行
df[0:2]

    a   b   c   d
0  72  96  64  88
1  78  77  99  69

In [31]:
# 切列
df.iloc[:,0:2]

    a   b
0  72  96
1  78  77
2  78  87
3  90  67
4  88  90
5  64  66
6  94  89
7  84  87

- df索引和切片操作
    - 索引：
        - df[col]:取列
        - df.loc[index]:取行
        - df.iloc[index,col]:取元素
    - 切片：
        - df[index1:index3]:切行
        - df.iloc[:,col1:col3]:切列

- DataFrame的运算
    - 同Series

============================================

练习：

1. 假设ddd是期中考试成绩，ddd2是期末考试成绩，请自由创建ddd2，并将其与ddd相加，求期中期末平均值。

2. 假设张三期中考试数学被发现作弊，要记为0分，如何实现？

3. 李四因为举报张三作弊立功，期中考试所有科目加100分，如何实现？

4. 后来老师发现有一道题出错了，为了安抚学生情绪，给每位学生每个科目都加10分，如何实现？

============================================

In [32]:
ddd = {
    '张三':[150,150,150,150],
    '李四':[0,0,0,0]
}
qizong = DataFrame(data=ddd,index=['语文','数学','英语','理综'])
qimo = df

In [33]:
(qizong + qimo) / 2

     a   b   c   d  张三  李四
0  NaN NaN NaN NaN NaN NaN
1  NaN NaN NaN NaN NaN NaN
2  NaN NaN NaN NaN NaN NaN
3  NaN NaN NaN NaN NaN NaN
4  NaN NaN NaN NaN NaN NaN
5  NaN NaN NaN NaN NaN NaN
6  NaN NaN NaN NaN NaN NaN
7  NaN NaN NaN NaN NaN NaN
数学 NaN NaN NaN NaN NaN NaN
理综 NaN NaN NaN NaN NaN NaN
英语 NaN NaN NaN NaN NaN NaN
语文 NaN NaN NaN NaN NaN NaN

In [34]:
qizong.iloc[1,0] = 0
# qizong.loc["数学","张三"] = 0
qizong

     张三  李四
语文  150   0
数学    0   0
英语  150   0
理综  150   0

In [35]:
# qizong["李四"] += 100
qizong.iloc[:,1] += 100
qizong

     张三   李四
语文  150  100
数学    0  100
英语  150  100
理综  150  100

In [36]:
qizong+=10
qizong

     张三   李四
语文  160  110
数学   10  110
英语  160  110
理综  160  110

- 时间数据类型的转换
    - pd.to_datetime(col)
- 将某一列设置为行索引
    - df.set_index()

In [37]:
dic = {
    'time':['2010-10-10','2011-11-20','2020-01-10'],
    'temp':[33,31,30]
}
df = DataFrame(data=dic)
df

         time  temp
0  2010-10-10    33
1  2011-11-20    31
2  2020-01-10    30

In [38]:
# 查看time列的类型
df["time"].dtype

dtype('O')

In [39]:
import pandas as pd

In [40]:
# #将time列的数据类型转换成时间序列类型
df["time"] = pd.to_datetime(df["time"])
df

        time  temp
0 2010-10-10    33
1 2011-11-20    31
2 2020-01-10    30

In [41]:
df["time"]

0   2010-10-10
1   2011-11-20
2   2020-01-10
Name: time, dtype: datetime64[ns]

In [42]:
# 将time列作为源数据的行索引
df.set_index("time", inplace=True)

In [43]:
df

            temp
time
2010-10-10    33
2011-11-20    31
2020-01-10    30